<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sky Delivery - Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="../public/css/index.css" rel="stylesheet" />
    <link href="../public/img/logo.png" rel="icon" type="image/x-icon" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <img src="../public/img/logo.png" alt="logo" width="50" />
          <a class="navbar-brand" href="#">Sky Delivery</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="servicos.html">Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="planos.html">Planos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active carousel-image1">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 class="fw-bold">Drone de qualidade</h1>
                <p class="fw-bold">
                  Somos a marca mais famosa pela qualidade dos drones utilizados
                  nas entregas.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-image2">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="fw-bold">Tudo prático no app</h1>
                <p class="fw-bold">
                  Com apenas alguns clicks, vai estar aproveitanto o melhor
                  serviço de entregas no céu!
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-image3">
            <div class="container">
              <div class="carousel-caption text-end">
                <h1 class="fw-bold">Entrega em todo lugar</h1>
                <p class="fw-bold">
                  Os únicos a realizarem entrega para todo o Brasil!
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>
      <h2 class="display-6 text-center mb-4 fw-bold">Saiba mais!</h2>
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img
              class="bd-placeholder-img"
              src="../public/img/drone.png"
              alt="servico1"
              width="140"
            />
            <h2 class="fw-normal">Qualidade</h2>
            <p>
              Apresentamos os melhores drones para a realização de qualquer tipo
              de entrega.
            </p>
            <p>
              <a class="btn btn-secondary" href="servicos.html#servico1"
                >Saiba Mais &raquo;</a
              >
            </p>
          </div>
          <div class="col-lg-4">
            <img
              class="bd-placeholder-img"
              src="../public/img/app.png"
              alt="servico2"
              width="140"
            />
            <h2 class="fw-normal">App</h2>
            <p>
              Aplicativo dinâmico e prático ao realizar serviços de entrega de
              forma rápida e segura.
            </p>
            <p>
              <a class="btn btn-secondary" href="servicos.html#servico2"
                >Saiba Mais &raquo;</a
              >
            </p>
          </div>
          <div class="col-lg-4">
            <img
              class="bd-placeholder-img"
              src="../public/img/local.png"
              alt="servico3"
              width="140"
            />
            <h2 class="fw-normal">Localdiade</h2>
            <p>
              Os pioneiros a realizarem a entrega para todo o Brasil do melhor
              preço.
            </p>
            <p>
              <a class="btn btn-secondary" href="servicos.html#servico3"
                >Saiba Mais &raquo;</a
              >
            </p>
          </div>
        </div>
        <hr class="featurette-divider" />
      </div>
    </main>
    <footer class="container">
      <p class="float-end"><a href="#">Voltar ao topo</a></p>
      <p>&copy; 2022 Sky Delivery, LTDA.</p>
    </footer>
  </body>
</html>
