<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sky Delivery - Serviços</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="../public/css/servicos.css" rel="stylesheet" />
    <link href="../public/img/logo.png" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <img src="../public/img/logo.png" alt="logo" width="50" />
          <a class="navbar-brand" href="index.html">Sky Delivery</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="planos.html">Planos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <a name="servico1"></a>
      <div class="container marketing">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Drone de qualidade,
              <span class="text-muted">entrega de qualidade.</span>
            </h2>
            <p class="lead">
              Com base nas pesquisas, o drone chegou a evoluir a uma capacidade
              grande de realizar entregas e até mesmo passageiros, por isso
              utilizamos a melhor qualidade para os nossos clientes.
            </p>
          </div>
          <div class="col-md-5 service-image1"></div>
        </div>
        <a name="servico2"></a>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
              Realiza entregas,
              <span class="text-muted">dentro do seu bolso.</span>
            </h2>
            <p class="lead">
              Através do nosso app, poderá realizar várias entregas para vários
              destinatários de forma prática e rápida, sem muita burocracia,
              rastreamento em tempo real e muito mais sem precisar sair de casa.
            </p>
          </div>
          <div class="col-md-5 order-md-1 service-image2"></div>
        </div>
        <a name="servico3"></a>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Localidade, <span class="text-muted">nossa especialidade.</span>
            </h2>
            <p class="lead">
              E sim, realizamos entregas para todo o país, sendo o único serviço
              a realizar com preço baixo sem nenhum tipo de problema, podendo
              realizar entregas entre várias cidades metropolitanas.
            </p>
          </div>
          <div class="col-md-5 service-image3"></div>
        </div>
        <hr class="featurette-divider" />
      </div>
    </main>
    <footer class="container">
      <p class="float-end"><a href="#">Voltar ao topo</a></p>
      <p>&copy; 2022 Sky Delivery, LTDA.</p>
    </footer>
  </body>
</html>
